---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import CurrentYear from "@/components/CurrentYear.astro";
---

<Layout title="G2 History">
  <LandingHeader />
    <main class="flex flex-col items-center">
      <CurrentYear/>
    </main>
</Layout>
