---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<Layout title="G2 History">
  <LandingHeader />
  <main class="flex flex-col items-center">
    <video autoplay loop muted playsinline class="w-80 h-45 rounded-3xl mt-0 md:mt-10">
      <source src="https://cdn.shopify.com/videos/c/vp/a3e4e85ece4c47fd8996290b9447f307/a3e4e85ece4c47fd8996290b9447f307.HD-1080p-4.8Mbps-22978181.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h2 class="text-2xl font-bold my-8 text-center">Join the Leyend</h2>
  </main>
</Layout>
