---
import type { Year } from "../lib/data"

interface Props {
  year: Year,
  displayNumber: string
}

const { year, displayNumber } = Astro.props
const { id, image, titles } = year
---
<a href={`/year/${id}`}>{displayNumber}</a>
